<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>
</head>

<body class="container-fluid">
  <h1>TABLA DE DATOS</h1>
  <p> <%= woo %> </p>


  <div class="row">
    <div class="col-12 col-sm-10 mx-sm-auto">
      <div class="table-responsive">

        <table class="table table-hover  table-sm    shadow-lg">
          <caption>Lista de trabajadores</caption>
  
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Edad</th>
              <th scope="col">¿Tiene Permisos?</th>
            </tr>
          </thead>
  
          <tbody class="bg-light">
            <tr>
              <th scope="row">1</th>
              <td>Ramón</td>
              <td>28</td>
              <td>SI / NO</td>
            </tr>
  
            <tr>
              <th scope="row">2</th>
              <td>albor</td>
              <td>3</td>
              <td>SI / NO</td>
            </tr>
  
          </tbody>
  
        </table>

      </div>
      
    </div>

  </div>





  <p>TODO: enviar formulario antes de table que tenga nombre, edad y un select, todos required </p>

</body>

</html>